* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.top-banner {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  align-items: center;
}

.top-banner-h1 {
  text-align: center;
  font-size: 65px;
  color: white;
  font-weight: 900;
  padding-top: 4em;
}
.top-banner-paragraph {
  padding-top: 15px;
  text-align: center;
  color: white;
}
.click-button {
  margin-left: 45%;
  margin-top: 50px;
  background-color: #ff5959;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-weight: 700;
  padding: 15px 40px;
  border: 0;
  border-radius: 7px;
}
.flex-container {
  display: flex;
}
.titles {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.paragraph-style {
  border-top: 1em;
  text-align: center;
  font-weight: normal;
  justify-content: space-around;
}
.centering {
  justify-content: center;
}

.donation-button {
  border: none;
  color: black;
  background-color: #fafafa;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
}

#five-hundred {
  background-color: rgba(255, 68, 0, 0.116);
  color: orangered;
  border: 2px solid orangered;
  font-weight: 800;
}
.donate-amount {
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}
#line {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
  width: 50%;
  text-align: center;
}

.our-service {
  margin: 20px;
  justify-content: space-around;
}
.services {
  width: 350px;
  height: 280px;
  text-align: center;
  padding: 20px;
}
#service1 {
  background-color: #4f9da620;
}
#service2 {
  background-color: #ff595937;
}
#service3 {
  background-color: #fff4d682;
}

.partnar-box {
  width: 40%;
  margin: 5%;
  padding-left: 13%;
  box-shadow: 10px 10px 40px gray;
}
.partnar-box img {
  width: 50%;
  padding-left: 5%;
}
.partnar-name h3 {
  font: size 400px;
  text-align: center;
}
.update {
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
.contact-section {
  text-align: center;
  font-weight: bold;
  width: 809px;
  height: 200px;
  background-color: #fff4d6;
  margin: 0 auto;
}
.contact {
  text-align: center;
  width: 50%;
  height: 40px;
  margin-top: 10%;
  border: 0;
  background-color: #eaeae3;
  margin-right: 0;
  padding-right: 0;
}
.contact-btn {
  background-color: #ff5959;
  height: 40px;
  width: 140px;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10%;
  margin-left: 0;
  padding-left: 0;
}
.footer-contain {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  background-color: black;
}
#about-footer {
  color: yellow;
  text-align: center;
}
